{% extends "core/index.html" %}
{% block content %}
    <header>
        <h1>{{ group_name }} tasks</h1>
        <form method="get">
            <div class="input-group w-50 mt-5 mb-5 mx-auto">
                <input type="text"
                       class="form-control"
                       name="search-area"
                       value="{{ search_input }}"/>
                <div class="input-group-append">
                    <input type="submit" class="btn btn-outline-secondary" value="Search"/>
                </div>
            </div>
        </form>
    </header>
    <div class="list-group mx-auto w-75">
        {% for task in tasks %}
            <label class="list-group-item mx-auto border-0 border-bottom w-100 text-center">
                <a href="{% url 'task_detail' group_name task.id %}"
                   class="link-secondary">{{ task }}</a>
                <a href="{% url 'task_update' group_name task.id %}"><span id="boot-icon" class="bi bi-pencil"></span></a>
                <a href="{% url 'task_delete' group_name task.id %}"><span id="boot-icon" class="bi bi-trash"></span></a>
            </label>
        {% endfor %}
        <label class="list-group-item mx-auto border-0 mt-2">
            <a href="{% url 'task_create' group_name %}" class="list-group"><span class="bi bi-plus-lg"></span></a>
        </label>
    </div>
    <footer>
        <a href="{% url 'home' %}"><span id="boot-icon" class="bi bi-house"></span></a>
        <a href="{% url 'group_list' %}"><span class="bi bi-arrow-left-circle"></span></a>
    </footer>
{% endblock content %}
